#atBatPage{
  display:inline-block;
  width:300px;
  margin: auto 0;
}

.diamond{
  position:relative;
  left:50px;
  width:200px;
  height:200px; 
  transform:rotate(45deg);
}

.square{
  position: relative;
  width:142px;
  height:142px;
  top:29px;
  left:30px;
  transform:rotate(-45deg);
}

.toSecond
{
    border-top:1px red solid
}
.toHome
{
    /* border-bottom:1px red solid */
}
.toThird
{
    /* border-left:1px red solid */
}
.toFirst
{
    border-right:1px red solid
}

.fielding{
  width:45px;
  height:33px;
  border:1px red solid;
  float:left;
  text-align: center;
}

/* .advanced{
  width:45px;
  height:33px;
  border:1px red solid;
  float:left;
  text-align: center;
} */

.hit, .run{
  display:inline-block;
  width:45px;
  height:33px;
  border:1px red solid;
  text-align: center;
}

.runGroup{
  float:left;
}

.run{
  position:relative;
  top:-35px;
  margin:1px;
  display:block;
}

.run.last{
  position:relative;
  margin:1px;
  top:1px;
  width:60px;
}

.hitGroup {
  float:right;
}

#topPage{
  position:relative;
  height:250px;
  border-bottom:2px solid red;
}

#bottomPage{
  height:300px;
  padding-top:30px;
  border:2px solid blue;
}

.options{
  display:inline-block;
  width:40px;
  height:40px;
  margin:5px;
  text-align:center;
  vertical-align: middle;
  border:2px solid black;
}


