.top{
  display:block;
  text-align: center;

  border:.5px
}

.bottom {
  display:block;
  text-align: center;
}

#outfield {
   width:100%;
}

#base {
  float:left;
  width:50%;
}

#hit {
    float:left;
}


